{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p class="fs-3">₹ {{ "%.2f"|format(product.price) }}</p>

    {% if product.images %}
        <div class="row">
            {% for img in product.images %}
                <div class="col-md-4 mb-3">
                    <img src="{{ url_for('static', filename='uploads/' + img) }}" class="img-fluid rounded" alt="{{ product.name }}">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No images available.</p>
    {% endif %}
{% endblock %}
